<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted"></h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Vision</h4>
                                </div>
                                <div class="timeline-body">
                                    <br>
                                    <p class="text-muted">Aim India Foundation wants to be a leading NGO committed to build sustainable, healthy and productive communities in India.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Belief</h4>
                                </div>
                                <div class="timeline-body">
                                    <br>
                                    <p class="text-muted">Every Indian has the right to realize their potential, and to live free of poverty in a secure and more equitable world. We believe this India is possible.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>We</h4>
                                </div>
                                <div class="timeline-body">
                                    <br>
                                    <p class="text-muted">We are a group of professionals amalgamated to  provide opportunities for urban slum & rural dwellers in India, particularly the underprivileged people.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>