<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Events</h2>
                    <h3 class="section-subheading text-muted">Our Major Ongoing Projects</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-tree fa-stack-2x" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Green India Initiative</h4>
                    <p class="text-muted">Plantation of 50,000 trees in West Bengal, 27,000 trees planted in 2016.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-laptop fa-stack-2x" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Health and Educational Initiative</h4>
                    <p class="text-muted">Aim India Foundation arranged scholarships to needy and promising students of Kolkata and Sundarban.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-female fa-stack-2x" aria-hidden="true"></i>
                    </span>
                    <h4 class="service-heading">Women Empowerment Initiative</h4>
                    <p class="text-muted">The topic on “Women Empowerment” is a burning issue all over the world.</p>
                </div>
            </div>
        </div>
    </section>